/* BUTTONS */ 

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;
}
// button::-moz-focus-inner {
//   border: 10px;
// }
.btn {
  padding: 0.8rem 1rem 0.7rem;
  border: 0.1rem solid $box-color;
  cursor: pointer;
  text-transform: capitalize;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.2rem;
  toggle-btn {
    border-width: 1px;
    border-color: $box-color;
  }
  toggle-btn[aria-pressed="true"] {
    text-decoration: underline;
    border-color: $box-color;
  }
}
.btn__edit {
  background-image: url(../../assets/images/edit-icon.png);
}
.btn__delete {
  color: #fff;
  background-image: url(../../assets/images/delete-icon.png);
}
.btn__filter {
  border-color: lightgrey;
}
.btn__primary {
  color: #fff;
  background-color: $primary-btn;
  margin-top: 1rem;
  padding: 0.7rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-group {
  display: flex;
  justify-content: space-between;
}
.btn-group > * {
  flex: 1 1 49%;
}
.btn-group > * + * {
  margin-left: 0.8rem;
}