/* CUSTOM FONTS INSTALLED */

@font-face {
  font-family: "GT America";
  src: url(../../assets/fonts/GT-America-Standard-Light-Trial.woff2) format("woff2");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "GT America";
  src: url(../../assets/fonts/GT-America-Standard-Regular-Trial.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Ramillas";
  src: url(../../assets/fonts/Fontspring-DEMO-tt_ramillas_extralight.otf) format("otf");
  font-weight: lighter;
  font-style: normal;
} 
@font-face {
  font-family: "TT Ramillas";
  src: url(../../assets/fonts/Fontspring-DEMO-tt_ramillas_light.otf) format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Ramillas";
  src: url(../../assets/fonts/Fontspring-DEMO-tt_ramillas_regular.otf) format("otf");
  font-weight: normal;
  font-style: normal;
}
