/* LIST VIEW */ 

/* bookmark item styles -- to be reviewed again */
.bookmark {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $box-color;
  border-radius: 0.4rem;
  padding: 0.8rem;
  margin-top: 2rem;
}
.bookmark-text {
  width: 100%;
  min-height: 4.4rem;
  padding: 0.4rem 0.8rem;
  border: 2px solid #bc5151;
}
.bookmark-text:focus {
  box-shadow: inset 0 0 0 2px;
}

.bookmark-data {
  font-size: 1.5rem;
}