* {
  box-sizing: border-box; // includes padding & border to element's width & height
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
html {
  /* default root font size linked to rem properties */
  font: 62.5% / 1.15 sans-serif; // changes default 16px * 0.625 to = 10px;
}
body {
  background-color: #ffffff;
  margin: 0 auto;
  width: 100%;
  color: #4d4d4d;
  font: 1.6rem / 1.25 'GT America', 'Helvetica Neue', Arial, sans-serif;
  @media screen and (min-width: 620px) {
    font-size: 1.9rem; // note the 62.5% trick does not work within media query block
    line-height: 1.31579;
  }
}
a {
  text-decoration: none;
  display: block;
  margin-top: 1.5em;
  color: #140f2d;
}
p {
  font-size: 1.2rem; // font size = 12px
  font-family: "GT America", sans-serif;
  font-weight: normal;
}
ul {
  list-style: none;
  padding: 0;
}





