/* VARIABLES */ 

// $main-header-font: 'TT Ranillas', normal;
// $small-header-font: 'GT America',  

$primary-color: rgb(77, 77, 77);
$secondary-color: rgb(88, 88, 88);
$tertiary-color: rgb(75, 61, 103);

$box-color: rgb(153, 153, 153);
$border-bottom: rgb(77, 77, 77);

$primary-btn: rgb(89, 89, 89);

@import '@sweetalert2/theme-bulma/bulma.scss';